.dateColumn {
  display: flex;
  flex-direction: column;
}
.dateLabel {
  font-size: 14px;
  font-weight: 600;
  color: #555555;
}

.date {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
}

.dateRow {
  display: flex;
  flex-direction: row;
  width: min-content;
  gap: 6px;
}
