body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0;
}

.mainDay.container {
  padding-bottom: 64px;
}

.calendarContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.calendarWrapper {
  flex: 1;
  height: 100%;
  padding: 0 20px 0px 20px;
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior-y: none;
  transition: flex-basis 0.3s ease;
  min-width: 0;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.calendarWrapper::-webkit-scrollbar {
  display: none;
}

.sidePanel {
  position: absolute;
  right: 0;
  top: 0;

  max-width: 430px;
  height: 100%;
  border-left: 1px solid #e0e0e0;
  background-color: #ffffff;
  box-shadow: -4px 0 24px rgba(0, 0, 0, 0.05);
  z-index: 110;
  overflow-y: auto;
  flex-shrink: 0;
  animation: slideIn 0.3s ease-out;
}

.closing {
  animation: slideOut 0.3s ease-in forwards;
}

.detailPanel {
  z-index: 300;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .sidePanel {
    width: 340px;
  }
  .detailPanel {
    width: 340px;
  }
  .calendarWrapper {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .sidePanel {
    width: 100%;
  }
  .detailPanel {
    width: 100%;
  }
}
